.box {
    border: 1px solid black;
    display: inline-block; 
    margin-right: 10px;
   
    padding: 10px;
    text-align: center;
}
.active {
    background-color: yellow;
}
.mark{
    text-decoration: line-through;
}